<app-admin></app-admin>
<div class="row bpadding">
  <div class="col">
    <div class="row">
      <div class="col">
        <div class="row">
        <div class="col-4">
          SUPPCUST ID
        </div>
        <div class="col-8">
          <input type="text" readonly name="" value="">
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          Type
        </div>
        <div class="col-8">
          <select class="" name="">
            <option value="">Supplier</option>
            <option value="">Customer</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          Name
        </div>
        <div class="col-8">
          <input type="text" name="" value="">
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          Email
        </div>
        <div class="col-8">
          <input type="text" name="" value="">
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          Contact
        </div>
        <div class="col-8">
          <input type="text" name="" value="">
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          Address
        </div>
        <div class="col-8">
          <input type="text" name="" value="">
        </div>
      </div>

      <div class="row">
        <div class="col-4">

        </div>
        <div class="col-2">
  <button type="button" name="button">ADD</button>
        </div>
        <div class="col-2 rmargin">
  <button type="button" name="button">UPDATE</button>
        </div>

        <div class="col-2">

        </div>
      </div>


      </div>
      <div class="col">
        <div class="row">

        <div class="col-12">
          <input type="text" placeholder="Search Supplier or Customer" name="" value="">
        </div>
      </div>
      <div class="row">
        <div class="col-12">




          <table class="table table-bordered">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Address</th>
                  <th class="text-center " scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td class="text-center edit-block">
                  <span class="edit" >
                    <button type="button" class="btn btn-success btn-sm">Edit</button>
                  </span>
                  <span class="delete" >
                    <button type="button" class="btn btn-danger btn-sm">Delete</button>
                  </span>
                </td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>@mdo</td>
                <td class="text-center edit-block">
                  <span class="edit" >
                    <button type="button" class="btn btn-success btn-sm">Edit</button>
                  </span>
                  <span class="delete" >
                    <button type="button" class="btn btn-danger btn-sm">Delete</button>
                  </span>
                </td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                <td>@mdo</td>
                <td class="text-center edit-block">
                  <span class="edit" >
                    <button type="button" class="btn btn-success btn-sm">Edit</button>
                  </span>
                  <span class="delete" >
                    <button type="button" class="btn btn-danger btn-sm">Delete</button>
                  </span>
                </td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                <td>@mdo</td>
                <td class="text-center edit-block">
                  <span class="edit" >
                    <button type="button" class="btn btn-success btn-sm">Edit</button>
                  </span>
                  <span class="delete" >
                    <button type="button" class="btn btn-danger btn-sm">Delete</button>
                  </span>
                </td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                <td>@mdo</td>
                <td class="text-center edit-block">
                  <span class="edit" >
                    <button type="button" class="btn btn-success btn-sm">Edit</button>
                  </span>
                  <span class="delete" >
                    <button type="button" class="btn btn-danger btn-sm">Delete</button>
                  </span>
                </td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                <td>@mdo</td>
                <td class="text-center edit-block">
                  <span class="edit" >
                    <button type="button" class="btn btn-success btn-sm">Edit</button>
                  </span>
                  <span class="delete" >
                    <button type="button" class="btn btn-danger btn-sm">Delete</button>
                  </span>
                </td>
              </tr>
              <tr>
                <th scope="row">7</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                <td>@mdo</td>
                <td class="text-center edit-block">
                  <span class="edit" >
                    <button type="button" class="btn btn-success btn-sm">Edit</button>
                  </span>
                  <span class="delete" >
                    <button type="button" class="btn btn-danger btn-sm">Delete</button>
                  </span>
                </td>
              </tr>


            </tbody>
          </table>


        </div>

      </div>
      </div>
    </div>

  </div>
</div>
