<app-admin></app-admin>
<div class="bpadding">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col">
          <div class="row">
          <div class="col-4">
            Category pasha
          </div>
          <div class="col-8">
            <input type="text" name="" value="">
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            Title
          </div>
          <div class="col-8">
            <input type="text" name="" value="">
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            Description
          </div>
          <div class="col-8">
            <input type="text" name="" value="">
          </div>
        </div>


        </div>
        <div class="col">
          <div class="row">

          <div class="col-12">
            <input type="text" placeholder="Search Category" name="" value="">
          </div>
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col-2">

        </div>
        <div class="col-1">
  <button type="button" name="button">ADD</button>
        </div>
        <div class="col-1 rmargin">
  <button type="button" name="button">UPDATE</button>
        </div>
        <div class="col-1">
  <button type="button" name="button">DELETE</button>
        </div>
        <div class="col-6">

        </div>
      </div>
    </div>
  </div>

</div>
